fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.6.4
google-auth-oauthlib==1.2.0
google-api-python-client==2.122.0
gspread==6.1.0
python-multipart==0.0.32
python-dotenv==1.2.2
google-genai
fpdf2
pdfplumber==0.11.4
apscheduler
python-bidi
supabase
